<app-header></app-header>

<!-- Any website -->
<main id="main">
    <section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <h2>Services</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

              <div class="row">
                    <div class="flex-center">
                      <div class="social-icons">
                        <a class="social-icon">
                          <i class="fa fa-github fa-2x icon-3d" style="color:black"></i>
                          <div class="tooltip">GitHub</div>
                        </a>
                        <a class="social-icon">
                          <i class="fa fa-gitlab fa-2x icon-3d" style="color:black"></i>
                          <div class="tooltip">Gitlab</div>
                        </a>
                        <a class="social-icon">
                          <i class="fa fa-bitbucket fa-2x icon-3d" style="color:black"></i>
                          <div class="tooltip">Bitbucket</div>
                        </a>
                        <a class="social-icon">
                          <i class="fa fa-git fa-2x icon-3d" style="color:black"></i>
                          <div class="tooltip">Git</div>
                        </a>
                        <a class="social-icon">
                          <i class="fa fa-html5 fa-2x icon-3d" style="color:black"></i>
                          <div class="tooltip">HTML5</div>
                        </a>
                        <a class="social-icon">
                          <i class="fa fa-css3 fa-2x icon-3d" style="color:black"></i>
                          <div class="tooltip">CSS3</div>
                        </a>
                      </div>
                    </div>

                    <div class="flex-center">
                      <div class="social-icons">
                        <a class="social-icon">
                          <fa-icon [icon]="faNodejs" class=" icon-3d fa-2x" style="color:black" title="nodejs"></fa-icon>
                          <div class="tooltip">NodeJS</div>
                        </a>
                        <a class="social-icon">
                          <fa-icon [icon]="faDocker" class="icon-3d fa-2x" style="color:black"></fa-icon>
                          <div class="tooltip">Docker</div>
                        </a>
                        <a class="social-icon">
                          <fa-icon [icon]="faAngular" class="icon-3d fa-2x" style="color:black"></fa-icon>
                          <div class="tooltip">Angular</div>
                        </a>
                        <a class="social-icon">
                          <fa-icon [icon]="faJava" class="icon-3d fa-2x" style="color:black"></fa-icon>
                          <div class="tooltip">Java</div>
                        </a>
                        <a class="social-icon">
                          <fa-icon [icon]="faPython" class=" icon-3d fa-2x" style="color:black"></fa-icon>
                          <div class="tooltip">Python</div>
                        </a>
                        <a class="social-icon">
                          <fa-icon [icon]="faJS" class=" icon-3d fa-2x" style="color:black"></fa-icon>
                          <div class="tooltip">JavaScript</div>
                        </a>
                        <a class="social-icon">
                          <fa-icon [icon]="faUnity" class=" icon-3d fa-2x" style="color:black"></fa-icon>
                          <div class="tooltip">Unity</div>
                        </a>  
                        <a class="social-icon">
                          <fa-icon [icon]="faSQL" class=" icon-3d fa-2x" style="color:black"></fa-icon>
                          <div class="tooltip">SQL/MariaDB</div>
                        </a>
                        <a class="social-icon">
                          <i><fa-icon [icon]="faC" class="icon-3d fa-2x" style="color:black"></fa-icon></i>
                          <div class="tooltip">C++/C#</div>
                        </a>
                        <a class="social-icon">
                          <i><fa-icon [icon]="faAndroid" class="icon-3d fa-2x" style="color:black"></fa-icon></i>
                          <div class="tooltip">Android Studio</div>
                        </a>
                      </div>                   
                    </div>
                  <p>
                    Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                    Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
                  </p>
              </div>
        </div>
    </section>
</main>
