<i class="bi bi-list mobile-nav-toggle d-xl-none" (click) = "changeIcon()"></i>
<i #namebutton class="btn btn-primary" (click)="actionButton()">login</i>

<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
        <img src="assets/img/profile.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Mimi</a></h1>
        <div class="social-links mt-3 text-center">
            <a href="https://github.com/Muffinous" class="github"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/raquelfdz/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
        <ul>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/home" class="nav-link scrollto"><i class="bi bi-house"></i> <span>Home</span></a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/about" class="nav-link scrollto"><i class="bi bi-person-lines-fill"></i><span>About</span></a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/resume" class="nav-link scrollto"><i class="bi bi-file-earmark-person"></i><span>Resume</span></a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/portfolio" class="nav-link scrollto"><i class="bi bi-journals"></i><span>Portfolio</span></a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/services" class="nav-link scrollto"><i class="bi bi-book"></i> <span>Services</span></a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/contact" class="nav-link scrollto"><i class="bi bi-telephone"></i> <span>Contact</span></a></li>
        </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->