@import "../home.component.css";

.about {
  background-color: #3d3d3d;
}

.content h3 {
  font-weight: 700;
  font-size: 26px;
  color:rgb(161, 214, 245);
}

.content ul {
  list-style: none;
  padding: 0;
}

.content ul li {
  color: rgb(211, 211, 211);
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: lightblue;
  line-height: 0;
}

.content p:last-child {
  margin-bottom: 0;
}
