<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero"class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h2 style="color:white">Hiya,</h2>
        <h2 style="color: lightblue;">I'm Mimi</h2>
        <p>a software engineer!</p>
        <!-- <p>I'm <span class="typed" data-typed-items="Software Enginer, Full-Stack Developer, Freelancer.."></span></p> -->
    </div>
</section><!-- End Hero -->

<app-about></app-about>
<app-resume></app-resume>
<app-portfolio></app-portfolio>
<app-services></app-services>
<app-divider></app-divider>
<app-contact></app-contact>
