@import "../home.component.css";
@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed");

.main-container {
  position: relative;
  transform: translate(50%, 50%);
  color: #ffffff;
}

.first-container, .second-container {
  cursor: pointer;
  position: relative;
}
.first-container h3, .second-container h3 {
  position: relative;
  letter-spacing: 2px;
}

span {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  font-size: 15px;
}

span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  transition: 0.6s;
  z-index: -5;
}

.share:hover > h3 > span:nth-child(1):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 100ms;
  transform: rotate(-25deg);
}

.share:hover > h3 > span:nth-child(1) {
  color: #39393B;
  transition-delay: 110ms;
}

.share:hover > h3 > span:nth-child(2):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 200ms;
  transform: rotate(-20deg);
}

.share:hover > h3 > span:nth-child(2) {
  color: #39393B;
  transition-delay: 220ms;
}

.share:hover > h3 > span:nth-child(3):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 300ms;
  transform: rotate(-15deg);
}

.share:hover > h3 > span:nth-child(3) {
  color: #39393B;
  transition-delay: 330ms;
}

.share:hover > h3 > span:nth-child(4):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 400ms;
  transform: rotate(-10deg);
}

.share:hover > h3 > span:nth-child(4) {
  color: #39393B;
  transition-delay: 440ms;
}

.share:hover > h3 > span:nth-child(5):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 500ms;
  transform: rotate(-5deg);
}

.share:hover > h3 > span:nth-child(5) {
  color: #39393B;
  transition-delay: 550ms;
}

.share:hover > h3 > span:nth-child(6):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 600ms;
  transform: rotate(0deg);
}

.share:hover > h3 > span:nth-child(6) {
  color: #39393B;
  transition-delay: 660ms;
}

.share:hover > h3 > span:nth-child(7):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 700ms;
  transform: rotate(5deg);
}

.share:hover > h3 > span:nth-child(7) {
  color: #39393B;
  transition-delay: 770ms;
}

.share:hover > h3 > span:nth-child(8):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 800ms;
  transform: rotate(10deg);
}

.share:hover > h3 > span:nth-child(8) {
  color: #39393B;
  transition-delay: 880ms;
}

.share:hover > h3 > span:nth-child(9):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 900ms;
  transform: rotate(15deg);
}

.share:hover > h3 > span:nth-child(9) {
  color: #39393B;
  transition-delay: 990ms;
}

.share:hover > h3 > span:nth-child(10):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1000ms;
  transform: rotate(20deg);
}

.share:hover > h3 > span:nth-child(10) {
  color: #39393B;
  transition-delay: 1100ms;
}
.h6 {
    font-size: 70% !important;
}
p:first-child {
    margin-top: 0;
}
p:last-child {
    margin-bottom: 0;
}

.subtext {
    position: relative;
    border-radius: 10px;
    background: white;
    border: 1px solid;
    padding: 13px;
    line-height: 1.5em;
}

.subtext:not(#main) {
    display: none;
}

.subtext ul {
    margin: 0;
    padding: 0 25px;
}

.subtext a {
    color: #0a9;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s all ease;
}

.subtext a:hover,
h2:hover {
    color: #777;
}

.subtext:before {
    content: "";
    position: absolute;
    width: 1px;
    background: #bbb;
    left: 1.2em;
    height: 1.2em;
    top: calc(-1.2em - 1px);
}

.subtext.coll:before {
    left: 1em;
    height: 1.2em;
    top: calc(-1.2em - 1px);
}

.hex:hover {
    transform: rotate(30deg);
}

.hex,
.hex:before,
.hex:after {
    height: 1em;
    width: 0.59em;
    border: solid;
    border-width: 1px 0;
    border-radius: 2px;
    box-sizing: border-box;
}

@media (max-width: 1199px) {
    main .hex {
        margin-left: 158.5px;
    }   
}

main .hex {
    margin-left: 158.5px;
    position: relative;
    display: inline-block;
    margin-right: 0.5em;
    transition: 0.4s all ease;
}

.hex:before,
.hex:after {
    content: "";
    position: absolute;
    margin-top: -1px;
    /*     color:#ccc; */
}

.hex:before {
    transform: rotate(60deg);
}
.hex:after {
    transform: rotate(-60deg);
}

.hex,
.hex:before,
.hex:after,
.subtext {
    border-color: #bbb;
}

.hex.moved {
    transform: rotate(30deg);
}

#hex-holder {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
    pointer-events: none;
    font-size: 60px;
}

#hex-holder .hex {
    position: fixed;
}

#uno {
    border-radius: 4px;
    border: none;
    background: #5b8b8c;
    transform: rotate(-12deg);
    bottom: 30vh;
    left: 30px;
}

#uno:before,
#uno:after {
    margin-top: 0;
}

#hex-holder .hex:before,
#hex-holder .hex:after {
    border: inherit;
    border-radius: inherit;
    background: inherit;
}

#dos {
    border-color: #1b7477;
    border-radius: 3px;
    border-width: 5px 0;
    font-size: 100px;
    bottom: 12vh;
    right: -20px;
    transform: rotate(7deg);
}

#dos:before,
#dos:after {
    margin-top: -5px;
}

#tres {
    display: none;
}

#bg {
    /*     z-index:100; */
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    border: 5px solid black;
}

/* aaaaaaaa */

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  
  *,
*::before,
*::after {
  box-sizing: border-box;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    td {
        display:inherit;
        padding:5px;
        width:100%;
    }
    .carousel {
        margin-top: 50%;
    }
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel__item {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  opacity: 0;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  -webkit-animation: carousel-animate-vertical 27s linear infinite;
          animation: carousel-animate-vertical 27s linear infinite;
}

.carousel__item:nth-child(1) {
  -webkit-animation-delay: calc(3s * -1);
          animation-delay: calc(3s * -1);
}

.carousel__item:nth-child(2) {
  -webkit-animation-delay: calc(3s * 0);
          animation-delay: calc(3s * 0);
}

.carousel__item:nth-child(3) {
  -webkit-animation-delay: calc(3s * 1);
          animation-delay: calc(3s * 1);
}

.carousel__item:nth-child(4) {
  -webkit-animation-delay: calc(3s * 2);
          animation-delay: calc(3s * 2);
}

.carousel__item:nth-child(5) {
  -webkit-animation-delay: calc(3s * 3);
          animation-delay: calc(3s * 3);
}

.carousel__item:nth-child(6) {
  -webkit-animation-delay: calc(3s * 4);
          animation-delay: calc(3s * 4);
}

.carousel__item:nth-child(7) {
  -webkit-animation-delay: calc(3s * 5);
          animation-delay: calc(3s * 5);
}

.carousel__item:nth-child(8) {
  -webkit-animation-delay: calc(3s * 6);
          animation-delay: calc(3s * 6);
}

.carousel__item:last-child {
  -webkit-animation-delay: calc(-3s * 2);
          animation-delay: calc(-3s * 2);
}

.carousel__item-head {
  border-radius: 50%;
  background-color: #d7f7fc;
  width: 90px;
  height: 90px;
  padding: 14px;
  position: relative;
  margin-right: -45px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.carousel__item-body {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 20px 16px 70px;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
}

@-webkit-keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%, 11.1111111111% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  14.1111111111%, 22.2222222222% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  25.2222222222%, 33.3333333333% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  36.3333333333% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%, 11.1111111111% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  14.1111111111%, 22.2222222222% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  25.2222222222%, 33.3333333333% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  36.3333333333% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}