<app-header></app-header>
<main id="main">

  <section id="resume" class="resume section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p style="color: rgb(211, 211, 211);">I guess this is the part where I can tell you all about where I was born, where I studied.. you know, important things about my life, right?</p>
        </div>

        <div class="row">
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h1><div class="hex moved"></div></h1>
            <div class="subtext" id="main">            
              <p>So I was born in <strong>Vigo, Pontevedra.</strong> Then, I moved to Málaga, where I got my <strong>science's certification of secondary education. </strong>  By that time, I started to really like technology and wondering if I could study something related with it.</p>
            </div>
            <br>
            <h1><div class="hex moved"></div></h1>
            <div class="subtext" id="main">
              <p>And that's what I did. I moved to <strong>Madrid</strong> so I could study <strong>Software Engineer</strong> in the university Rey Juan Carlos.</p>
              <p>After four years, I got my degree and started to introducing me in the professional field! I had the opportunity to work with <strong>BHDynamics</strong>, which was brilliant; they had a loooooot of experience and I know that I learned so much with them <i>(including hardware things that I never did in my degree)</i> so I'm very grateful for that.</p>
            </div>
            <br>
            <h1><div class="hex moved"></div></h1>
            <div class="subtext" id="main">
              <p>Then, I started working with <strong>SIA</strong><i> an Indra company</i> and that's where I am working right now, with a team in the cibersecurity department for BBVA.</p>
            </div>
          </div>
        </div>
      </div>
  </section><!-- End About Section -->
</main>