<app-header></app-header>
<main id="main">

  <section id="resume" class="resume section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Resume</h2>
          <!-- <p style="color: rgb(211, 211, 211);">I guess this is the part where I can tell you all about where I was born, where I studied.. you know, important things about my life, right?</p> -->
        </div>

        <!-- <table style="width: 100%; font-size: 0.8em; ">
          <tr >
              <td style="padding:2.5px; width: 50%;" rowspan="4">
                          <h1><div class="hex moved"></div></h1>
                          <div class="subtext" id="main">            
                            <p>So I was born in <strong>Vigo, Pontevedra.</strong> Then, I moved to Málaga, where I got my <strong>science's certification of secondary education. </strong>  By that time, I started to really like technology and wondering if I could study something related with it.</p>
                          </div>
                          <br>
                          <h1><div class="hex moved"></div></h1>
                          <div class="subtext" id="main">
                            <p>And that's what I did. I moved to <strong>Madrid</strong> so I could study <strong>Software Engineer</strong> in the university Rey Juan Carlos.</p>
                            <p>After four years, I got my degree and started to introducing me in the professional field! I had the opportunity to work with <strong>BHDynamics</strong>, which was brilliant; they had a loooooot of experience and I know that I learned so much with them <i>(including hardware things that I never did in my degree)</i> so I'm very grateful for that.</p>
                          </div>
                          <br>
                          <h1><div class="hex moved"></div></h1>
                          <div class="subtext" id="main">
                            <p>Then, I started working with <strong>SIA</strong><i> an Indra company</i> and that's where I am working right now, with a team in the cibersecurity department for BBVA.</p>
                          </div>        
              </td>
          </tr>
          <tr>
            <td>
                 <div class="main-container">
                    <div class="first-container share">
                      <h3><span id="one">J</span><span>a</span><span>v</span><span>a</span></h3>
                    </div>      
                    <div class="first-container share">
                      <h3><span>P</span><span>y</span><span>t</span><span>h</span><span>o</span><span>n</span></h3>
                    </div>
                    <div class="first-container share">
                      <h3><span>J</span><span>a</span><span>v</span><span>a</span><span>S</span><span>c</span><span>r</span><span>i</span><span>p</span><span>t</span></h3>
                    </div>
                    <div class="first-container share">
                      <h3><span>C</span><span>+</span><span>+</span></h3>
                    </div> 
                    <div class="first-container share">
                      <h3><span>.</span><span>.</span><span>.</span></h3>
                    </div>                
                  </div>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
              <td></td>
              <td>
                <div class="main-container">
                  <div class="first-container share">
                    <h3><span id="one">A</span><span>n</span><span>g</span><span>u</span><span>l</span><span>a</span><span>r</span></h3>
                  </div>      
                  <div class="first-container share">
                    <h3><span>I</span><span>o</span><span>n</span><span>i</span><span>c</span></h3>
                  </div>
                  <div class="first-container share">
                    <h3><span>D</span><span>j</span><span>a</span><span>n</span><span>g</span><span>o</span></h3>
                  </div>
                  <div class="first-container share">
                    <h3><span>j</span><span>Q</span><span>u</span><span>e</span><span>r</span><span>y</span></h3>
                  </div>
                  <div class="first-container share">
                    <h3><span>S</span><span>p</span><span>r</span><span>i</span><span>n</span><span>g</span></h3>
                  </div>
                  <div class="first-container share">
                    <h3><span>.</span><span>.</span><span>.</span></h3>
                  </div>                      
                </div>  
              </td>
              <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <div class="main-container">
                <div class="first-container share">
                  <h3><span id="one">M</span><span>y</span><span>S</span><span>Q</span><span>L</span></h3>
                </div>      
                <div class="first-container share">
                  <h3><span>M</span><span>o</span><span>n</span><span>g</span><span>o</span><span>D</span><span>B</span></h3>
                </div>
                <div class="first-container share">
                  <h3><span>M</span><span>a</span><span>r</span><span>i</span><span>a</span><span>D</span><span>B</span></h3>
                </div>
                <div class="first-container share">
                  <h3><span>S</span><span>Q</span><span>L</span><span>i</span><span>t</span><span>e</span></h3>
                </div>
                <div class="first-container share">
                  <h3><span>P</span><span>o</span><span>s</span><span>t</span><span>g</span><span>r</span><span>e</span><span>S</span><span>Q</span><span>L</span></h3>
                </div>      
                <div class="first-container share">
                  <h3><span>.</span><span>.</span><span>.</span></h3>
                </div>              
              </div> 
            </td>
          </tr>
        </table> -->
        
          <table>
            <tr>
              <td style="width: 50%;">
                <h1><div class="hex moved"></div></h1>
                <div class="subtext" id="main">            
                  <p>So I was born in <strong>Vigo, Pontevedra.</strong> Then, I moved to Málaga, where I got my <strong>science's certification of secondary education. </strong>  By that time, I started to really like technology and wondering if I could study something related with it.</p>
                </div>
                <br>
                <h1><div class="hex moved"></div></h1>
                <div class="subtext" id="main">
                  <p>And that's what I did. I moved to <strong>Madrid</strong> so I could study <strong>Software Engineer</strong> in the university Rey Juan Carlos.</p>
                  <p>After four years, I got my degree and started to introducing me in the professional field! I had the opportunity to work with <strong>BHDynamics</strong>, which was brilliant; they had a loooooot of experience and I know that I learned so much with them <i>(including hardware things that I never did in my degree)</i> so I'm very grateful for that.</p>
                </div>
                <br>
                <h1><div class="hex moved"></div></h1>
                <div class="subtext" id="main">
                  <p>Then, I started working with <strong>SIA</strong><i> an Indra company</i> and that's where I am working right now, with a team in the cibersecurity department for BBVA.</p>
                </div>  
              </td>
              <td style="width: 50%;">
                <div class='wrapper'>
                  <div class='carousel'>
                    <div class='carousel__item'>
                      <div class='carousel__item-head'>
                        ⌨️
                      </div>
                      <div class='carousel__item-body'>
                        <p class='title'>Web Developer</p>
                      </div>
                    </div>
                    <div class='carousel__item'>
                      <div class='carousel__item-head'>
                        🔒 
                      </div>
                      <div class='carousel__item-body'>
                        <p class='title'>Cibersecurity</p>
                      </div>
                    </div>
                    <div class='carousel__item'>
                      <div class='carousel__item-head'>
                        🎨
                      </div>
                      <div class='carousel__item-body'>
                        <p class='title'>Frontend</p>
                      </div>
                    </div>
                    <div class='carousel__item'>
                      <div class='carousel__item-head'>
                        🖥️
                      </div>
                      <div class='carousel__item-body'>
                        <p class='title'>Backend</p>
                      </div>
                    </div>
                    <div class='carousel__item'>
                      <div class='carousel__item-head'>
                        👧🏼
                      </div>
                      <div class='carousel__item-body'>
                        <p class='title'>Freelancer</p>
                      </div>
                    </div>
                    <div class='carousel__item'>
                      <div class='carousel__item-head'>
                        💻
                      </div>
                      <div class='carousel__item-body'>
                        <p class='title'>Software Engineer</p>
                      </div>
                    </div>
                    <div class='carousel__item'>
                      <div class='carousel__item-head'>
                        📊
                      </div>
                      <div class='carousel__item-body'>
                        <p class='title'>Analyst</p>
                      </div>
                    </div>
                    <div class='carousel__item'>
                      <div class='carousel__item-head'>
                        ✈️
                      </div>
                      <div class='carousel__item-body'>
                        <p class='title'>Available to travel</p>
                      </div>
                    </div>
                    <div class='carousel__item'>
                      <div class='carousel__item-head'>
                        🏠
                      </div>
                      <div class='carousel__item-body'>
                        <p class='title'>Available to work remotely</p>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        <!-- All of the emojis -> https://emojipedia.org/search/?q=home https://codepen.io/aija/pen/xvXWoK-->
        <hr>
        <p style="text-align: center; color: rgb(211, 211, 211);">Don't forget to check my <a href="../../../assets/CV/Raquel Fernández - new CV.pdf">CV</a> if you need to know a little bit more.</p>
      </div>
  </section><!-- End About Section -->
</main>